debian-bo-master/bo/source/text/sdc-1.0.7beta.orig/sgml/math.ent

<![ %Lout [ 

<!ENTITY % AWmaths system "target/lout/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/lout/AWgreek.ent"> %AWgreek;
]]>

<![ %ASCII [ 

<!ENTITY % AWmaths system "target/lout/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/lout/AWgreek.ent"> %AWgreek;
]]>

<![ %LaTeX [
<!ENTITY % AWmaths system "target/latex/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/latex/AWgreek.ent"> %AWgreek;
]]>

<![ %HTML [
<!ENTITY % AWmaths system "target/html/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/html/AWgreek.ent"> %AWgreek;
]]>

<![ %Info [
<!ENTITY % AWmaths system "target/info/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/html/AWgreek.ent"> %AWgreek;
]]>

<![ %Man [
<!ENTITY % AWmaths system "target/info/AWmaths.ent"> %AWmaths;
<!ENTITY % AWgreek system "target/html/AWgreek.ent"> %AWgreek;
]]>

<!-- % Mathel names everything in formulas -->
<!ENTITY % Mathel "(#PCDATA|set|sub|sup)+">

<!ELEMENT math 	- o %Mathel	-- die ganze Formal -- >
<!ELEMENT set	- - %Mathel	-- Mengen -- >
<!ELEMENT sub - - %Mathel >
<!ELEMENT sup - - %Mathel >
