debian-bo-master/bo/source/text/sdc-1.0.7beta.orig/sgml/refs.ent

<!--
  This defines references.
  M uses: p, %Text, %Body, (%Intext,) %Fmts
  D: these are small elements which can't contain large elements like
     figures and tables.
 -->

<!ELEMENT ref - o (%Text) -(ref) >
<!ATTLIST ref
	id CDATA #REQUIRED
	T (U|B|M|X) X
	-- T (type) U: URL; B: bibliographie; 
	   M: Manpage; X: cross inside --
>

<!ELEMENT label - o (%Text) >
	<!ATTLIST label id CDATA #REQUIRED >

<!ELEMENT index - o EMPTY >
<!ATTLIST index
	id CDATA #REQUIRED
	sub CDATA #IMPLIED
>

<!--
 Footnotes are refecences with their refered element written in place.
 --> 
<!ELEMENT footnote - - (%Body)+ -(%Fmts)  >

